.contenedor-imagen nav{
    position: absolute;
    top: 10%;
    left: 60%;
    z-index: 10;
}

.contenedor-imagen nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.contenedor-imagen nav a {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.contenedor-imagen nav a:hover {
    background-color: rgba(0,0,0,0.3);
    color: #ffffff
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.contenedor-imagen nav1 {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 10;
}
.contenedor-imagen nav1 a {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}
.contenedor-imagen nav1 a:hover {
    background-color: rgba(0,0,0,0.3);
    color: #ffffff
}
