.contenedor-imagen nav1 {
    position: absolute;
    top: 5%;
    left: 1%;
    z-index: 10;
}

.contenedor-imagen nav1 a.logo {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px; 
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.contenedor-imagen nav1 a.logo:hover {
    background-color: rgba(0,0,0,0.3);
    color: #ffffff;
}

.contenedor-imagen nav{
    position: absolute;
    top: 10%;
    right: 5%; 
    z-index: 10;
}

.contenedor-imagen nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.contenedor-imagen nav a {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4); /* Sombra para legibilidad */
}

.contenedor-imagen nav a:hover {
    background-color: rgba(0,0,0,0.3);
    color: #ffffff
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #fcfcfcf3;
    color: #333;
    line-height: 1.6;
}

.dropdown {
    position: relative;
    display:inline-block;
}

.icon-link {
    padding: 10px;
    display: block;
    cursor: pointer;
    color: #333;
}
.icon-link:hover {
    color: #007bff;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #000000;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    border-radius: 8px;
    z-index: 100;
}

.dropdown-content a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content.show {
    display: block;
}

.burbuja-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #322929;
    color: #fff;
    padding: 10px 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.burbuja-flotante:hover {
    background-color: #454648;
}

.burbuja-flotante svg {
    width: 32px;
    height: 32px;
    stroke: white;
}