.contenedor-imagen{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.contenedor-imagen::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.contenedor-imagen:hover::after{
    opacity:1;
}

.contenedor-imagen button{
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(10%, -10%);

    background-color: rgba(0, 0, 0, 0);
    color: #1c1919;
    padding: 15px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
.contenedor-imagen:hover button{
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgb(44, 39, 39);
}
.contenedor-imagen img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Introduccion-pag{
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 5%;
    z-index: 10;
    color: white;
    text-align: center;
}
.Introduccion-pag h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.Introduccion-pag p{
    font-size: 20px;
    margin-bottom: 20px;
}